/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */
html,
body {
    background-color: #2C3E50;
    
    height: 100%;
    padding: 2px;
    margin: 0;
}

a, a:hover, a:focus, a:active, a.active {
    color: #18bc9c;
}

#editor {
    color: white;
    outline: none;
    white-space: pre-wrap;
    
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;

    width: 100%;
    padding: 5px;
}

#editor a {
    text-decoration: underline;
}

#editor:focus {
    outline: none;
}

#toolbar  {
    position: absolute;
    bottom: 0;
    left: 0px;
    
    padding: 5px;
    width: 100%;
}

#toolbarPopup
{
    position: relative;
    background: white;
    padding: 3px 3px 3px 0px;
    max-width: 537px;
    margin-left: 0px;
    margin-bottom: 2px;
    border-radius: 5px;
}

#toolbarPopup:before
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 133px;
    top: 4px;
    border: 20px solid;
    border-color: white transparent transparent white;
}

#encrypt {
    min-width: 91px;

    background-color: #18bc9c;
    border: solid 1px #18bc9c;
 
    color: white;
    letter-spacing: 1px;
}

#encrypt:hover {
    background-color: #10AC8D;
    border: solid 1px #10AC8D;
}

#linkMask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: white;
    opacity: .5;
    z-index: 1000;
    
    cursor: default;
}

#linkEntry {
    width: 80%;
    max-width: inherit;
}

#linkEntry .popover-title-div {
    font-size: 16px;
    font-weight: bolder;
}

.popover-title-div img {
    position: absolute;
    right: 7px;
    top: 8px;

    height: 18px;
    width: 18px;
  
    cursor: pointer;
}

#linkEntryFields {
    margin-bottom: 20px;
}

#linkEntryFields div {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

#linkEntryFields label {
    display: table-cell;
    white-space: nowrap;

    font-size: inherit;
    font-weight: inherit;
    width: 102px;
}

#linkEntryFields span {
    display: table-cell;
}

#linkEntryFields input {
    width: 100%;
}

/* WYSIWYG editor defaults */
#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}


/* Fixes for bootstrap */
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-menu {
    min-width: 0px;
}

.scrollable-menu {
    height: auto;
    overflow-x: hidden;
}

/* Fixes for blockquote in bootstrap */
blockquote {
  font-size: inherit;
}