﻿.loadmask {
    width: 100%;
    height: 100%;

    z-index: 1000;
    
    position: absolute;
    top:0;
    left:0;

    background-color: #CCC;
    -moz-opacity: 0.75;
    opacity: .75;
    filter: alpha(opacity=75);
    zoom: 1;
}

.loadmask-msg {
    max-width: 80%;
    max-height: 80%;
    z-index: 1001;

    background: #2c3e50;
    padding:15px;

    text-align: center;
}

.loadmask-msg-label {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.loadmask-msg-button {
    display: inline-block;
    cursor: pointer;

    background: white;
    border-radius: 5px;

    color: black;
    font-size: 13px;
    padding: 5px 10px;
}

.loadmask-msg-button:hover {
    background: #E6E6E6;
}

.loadmask-msg img {
    display: block;
    margin: auto;
}

.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}