﻿.popover {
    cursor: default;
    max-width: 400px;
}

.popover[class*="tour-"] {
    z-index: 1101;
}

.popover-title-div img {
    position: absolute;
    right: 7px;
    top: 9px;

    height: 18px;
    width: 18px;
  
    cursor: pointer;
}

.popover.tour .popover-title,
.popover.tour .popover-content {
    color: #2f2f2f;
    cursor: text;
    text-decoration: none !important;
    font-size: 16px;
}

.popover:hover {
    text-decoration: none !important;
}

.popover-title-div img {
    cursor: pointer;
}

.popover-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px !important;
}

.popover-navigation {
    cursor: default;
    text-align: center;
    padding-top: 0;
}

.popover-navigation button {
    cursor: pointer;
}

.popover-navigation .btn-group {
    float: left;
}

.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
    /*float: initial;*/
}

.tour-step-backdrop.pwmBar,
.tour-step-backdrop.fX.aXjCH,
.tour-step-backdrop.hl,
.tour-step-backdrop.aoD.az6 {
    background: white;
}

.tour-step-backdrop#pwmIcon {
    background: rgba(0, 0, 0, .5);
}

/* Bug fixes for bootstrap tour. */
.tour-step-background, 
.tour-backdrop {
    position: fixed !important;
}

.tour-step-background {
    border-radius: inherit;
}