﻿.pwmReadOverlay, .pwmComposeOverlay {
	position: absolute !important;
    z-index: 3;
    border: 0;
}

.pwmHiddenOverlay {
    position: fixed;
    top: 0px;
    left: 0px;

    visibility: hidden;
    height: 0px;
    width: 0px;
}

.pwmLockDiv {
    margin-right: 7px;
}

.pwmLockDiv, .pwmLockButton {
    height: 27px;
    line-height: 27px;
    padding: 0 8px;
    border-spacing: 0 0;
    margin-top: 3px;

    background-color: #18bc9c;

    color: white;
    letter-spacing: 1px;
    font-size: 13px;

    display: inline-block;
}

.pwmBar {
    height: 36px;
    padding: 5px;
    padding-left: 10px;
    border-bottom: solid #CFCFCF 1px;
}

.pwmBar .pwmInfo {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
}

.pwmBar .pwmLockButton {
    float: right;

    background-color: #2c3e50;

    border: 1px solid #233140;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;

    cursor: pointer;
}

.pwmBar .pwmLockButton:hover {
    background-color: #233140;
}

div.composePreamble {
     padding-top: 2px;
     padding-bottom: 0px;
     border-bottom: 1px solid #CFCFCF;
}

div.composePreamble textarea {
    padding: 0px;
    height: 50px;
}

#pwmIconDiv {
    position: relative;
    top: 28px;
    margin-right: 10px;
    border: 0;
}

#pwmIcon {
    cursor: pointer;
    height: 48px;
}

.pulsator {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: 1; 
    opacity: 1.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.0;}
    50% {-webkit-transform: scale(1.2, 1.2); opacity: 0.5;}
    100% {-webkit-transform: scale(1, 1); opacity: 1.0;}
}

#iconDropdownMenu {
    position: absolute;
    left: 10px;
    top: 36px;
    
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    
    font-size: 14px;
    text-align: left;
    padding: 5px 0;

    list-style: none;
    z-index: 10;
}

#iconDropdownMenu li {
    display: block;
    clear: both;
    
    padding: 3px 20px;

    color: #333;
    white-space: nowrap;
    font-weight: normal;
    line-height: 1.42857143;
}

#iconDropdownMenu li:hover,
#iconDropdownMenu li:focus {
    background-color: #f5f5f5;
 
    color: #262626;
    text-decoration: none;
  
    cursor: pointer;
}

.pwmStatusDialog {
    z-index: 9999;
    
    position: fixed;
    top: 5%;
    left: 50%;
    
    width: 30em;
    height: 5em;
    
    margin-left: -9em;
    
    text-align: center;
    
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
}