html,
body {
    background-color: #2C3E50;
    color: white;

    height: 100%;
    margin: 0;
}

a, a:hover, a:focus, a:active, a.active {
    color: #18bc9c;
    text-decoration: underline;
    cursor: pointer;
}

#messageBodyArea {
    padding: 10px;
    
    white-space: pre-wrap;
}